* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
.body {
    position: relative;
}

/* Header */
.navbar {
    /* border-bottom: 1px solid lightgray; */
    background-color: white;
    z-index: 100;
}
.navbar-brand img {
    height: 50px;
}
/* News Section */
.news-row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.news-row:nth-of-type(1) {
    margin-top: 10px;
}
.news-team-img {
    width: 100%;
}
.news-title h3 {
    font-size: 15px;
}
.news-title h6 {
    font-size: 10px;
}

/* Scores Section */
.game-info-row {
    display: flex;
    justify-content: space-between;
}
.img-container {
    text-align: center;
}
.score-team-img {
    width: 35px;
}
.score-row {
    border-bottom: 1px solid lightgray;
    padding: 3px;
}
.score-row>div {
    padding: 0;
}
.team-name, .team-rank, .score {
    font-size: 15px;
    margin: 0;
}
.lost {
    color: gray
}
.team-info-row {
    display: flex;
    justify-content: start;
    align-items: center;
}
.score-row p {
    font-size: 12px;
}
.quarter, .time, .network {
    font-size: 13px;
    margin: 0;
    text-align: center;
}
.quarter-container, .time-container, .network-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-info-row {
    border-left: 1px solid lightgray;
}

/* Teams Section */
.team-row {
    border: 1px;
    background-color: 	rgb(245,245,245);
    border-radius: 5px;
    padding: 3px;
    margin-top: 7px;
}
.team-row div {
    display: flex;
    justify-content: start;
    align-items: center;
}
.team-row p, .team-row h5 {
    margin: 0;
    padding: 0;
}
.team-img {
    width: 60px;
}
