* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
.body {
    position: relative;
}

/* Header */
.navbar {
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 100;
}
.navbar-brand img {
    height: 50px;
}
/* News Section */
.news-col {
    padding-top: 15px;
    padding-bottom: 15px;
}