* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
.body {
    position: relative;
}

/* Header */
.navbar {
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 100;
}
.navbar-brand img {
    height: 50px;
}
/* News Section */
.news-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

.team-img {
    height: 60px;
}

/* Teams Section */
.team-row {
    border: 1px;
    background-color: 	rgb(245,245,245);
    border-radius: 5px;
    padding: 3px;
    margin-top: 7px;
}
.team-row div {
    display: flex;
    justify-content: start;
    align-items: center;
}
.team-row p, .team-row h5 {
    margin: 0;
    padding: 0;
}